.box-cxn {
    width: 100%;
    height: 470px;
    overflow-y: scroll;
}
/* .box-cxn::-webkit-scrollbar {
   display: none;
}  */

.box-cxn::-webkit-scrollbar {
    width: 5px; 
}

.box-cxn::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

.box-cxn::-webkit-scrollbar-thumb {
    background: #88888865; 
    border-radius: 10px; 
}

.box-cxn-sp {
    width: 97%;
    height: 100px;
    display: flex;
    gap: 15px;
    padding:10px 10px;
}
.box-cxn-sp:hover {
    background: rgba(128, 128, 128, 0.152);
    cursor: pointer;
}
.box-cxn-sp p {
    margin: 0;
    font-size: 0.9rem;
    font-weight: 500;
    color: #333;
}
.box-cxn-sp img {
    flex-basis: 10%;
    width: 100%;
    height: 100%;
    border-radius: 2px;
}
.box-cxn-tensp {
    flex-basis: 30%;
    height: 100%;
    font-size: 0.9rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.box-cxn-giatien {
    flex-basis: 18%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-cxn-tt {
    flex-basis: 20%;
    font-size: 0.9rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-cxn-tt span {
    width: 100%;
    padding: 8px 2px;
    background: grey;
    border-radius: 10px;
    color: white;
    text-align: center;
}
.box-cxn-huy {
    flex-basis: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-cxn-huy button {
    width: 100%;
    padding: 8px 15px;
    border: none;
    border-radius: 20px;
    background: #ED1B24;
    color: white;
    cursor: pointer;
}
.box-cxn-huy button:hover {
    background: #ed1b26c2;
}