body{
    margin: 0;
}
.container{
    max-width: 800px;
    margin: auto;
}
h1{
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    color: black;
}
table{
    max-width: 100%;
    margin: auto;
}
th,td{
    text-align: center;
    font-size: 15px;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 0 0 0 4px;
}